* {
	box-sizing: border-box
}

body {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-filter: blur(0.000001px);
	font-weight: 800;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}