@font-face {
  font-family: 'Death Star';
  src: url('../fonts/death-star-webfont.woff2') format('woff2'),
    url('../fonts/death-star-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
