body {
  background: #000;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#game-container {
  display: flex;
  flex-flow: column;
  position: relative;
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 375px; // Iphone x
  max-height: 812px; // Iphone x
  // max-width: 600px;
  height: calc(100vh - 40px);
  margin: auto;

  @media screen and (min-width: 375px) {
    max-width: 400px;
  }
}

#game-board {
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(auto-fill, 10px);
  grid-template-columns: repeat(auto-fill, 10px);
  height: 100%;
}

#game-body {
  position: relative;
  flex: 1;
  padding-left: 25px;
  padding-right: 25px;
  background: url('../images/pipe-blue.png');
  background-size: contain;
}

#game-header {
  position: relative;
}

#timer,
#score {
  // flex: 1;
  text-align: center;
  color: #fff;
  // font-size: 40px;
  font-size: 30px;
  font-family: 'Death Star';
  text-shadow: 0 0 24px #72da03, 0 0 20px #72da03, 0 0 24px #72da03,
    0 0 24px #72da03;
}

#game-footer {
  max-width: 100%;
}

.snake {
  background-color: #fff;
  // box-shadow: 0 0 10px 3px #44c4ff;

  // filter: blur(2px);
  &.blue {
    // box-shadow: 0 0 10px 3px #44c4ff;
    filter: drop-shadow(0 0px 12px #44c4ff);
  }

  &.green {
    // box-shadow: 0 0 10px 3px #72da03;
    filter: drop-shadow(0 0px 12px #72da03);
  }

  &.red {
    // box-shadow: 0 0 10px 3px #ff3838;
    filter: drop-shadow(0 0px 12px #ff3838);
  }
}

.food {
  border-radius: 50%;
  box-shadow: 0 0 10px 3px #44c4ff, 0 0 6px #44c4ff inset;
  transform: scale(1.5);
  background: transparent;
  border: 2px solid #fff;

  &.blue {
    box-shadow: 0 0 10px 3px #44c4ff, 0 0 6px #44c4ff inset;
  }

  &.green {
    // box-shadow: 0 0 10px 3px #72da03;
    box-shadow: 0 0 10px 3px #72da03, 0 0 6px #72da03 inset;
  }

  &.red {
    // box-shadow: 0 0 10px 3px #ff3838;
    box-shadow: 0 0 10px 3px #ff3838, 0 0 6px #ff3838 inset;
  }
}